 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
        text-align: right;
}
nav ul{
    display: inline-block ;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #fffcfc;
}
p{
    color: black;
    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
} 
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0; 
}
.explore-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(7, 7, 7);
  color: rgb(253, 252, 252);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.explore-btn:hover {
  background-color: black;
  color: cyan;
}
}
.header{
    background: radial-gradient(#fff,#fcd6d6);
    header h1, header h2, header h3, header h4, header h5, header h6 {
  color: white;
    }
}
.header .row{
    margin-top: 65px;
}
body {
  background-color: white; /* You can replace 'lightblue' with any color */
}
footer {
  background-color: #080808;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}